.Logo {
  margin-right: 10px;
}

.LogoSpan {
  color: blue;
}

@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
