.Container {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: space-between;
    height: 89vh;
}

.FormContainer {
    /* border: 1px solid; */
    margin: 5px;
}

.ContactContainer {
    /* border: 1px solid; */
    margin: 5px;
    height: 83vh;
    padding: 0 8px 0 2px;
    overflow: auto;
}