.ContentForm {
  border: 0.5px solid #c7c6c6;
  border-radius: 5px;
  margin: 8px 10px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.ContentForm > h2 {
  text-align: center;
  font-weight: bold;
  color: blue;
  border: none;
}

.ContentForm > * {
  margin: 2px 0;
} 

