.Item {
  /* background-color: #ececec; */
  background-color: whitesmoke;
  border: 0.5px solid #c7c6c6;
  border-radius: 5px;
  margin: 8px 0px;
  padding: 2px 10px;
}

.TypeSpan {
  margin-top: 8px;
  color: white;
  font-size: 12px;
  float: right;
  line-height: 18px;
  padding: 0px 6px 2px 6px;
  border-radius: 15px;
}

.Prosonal {
  background-color: rgb(154, 83, 195);
}

.Professional {
  background-color: rgb(69, 147, 149);
}

.Icon {
  margin-right: 5px;
}

.ItemList {
  list-style: none;
  margin-bottom: 5px;
}

.ItemList > li {
  line-height: 26px;
}

@media (max-width: 425px) {
}
